/*******************
    font face
    ***************************/
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@200;300&display=swap');

body{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Poppins', sans-serif !important;
}

/****************
    input border style
    *********************/
input{
    outline: none;
}
/**********************
        more info details style
        ****************************/
.card{
    display: block !important;
    border: none !important;
}

/******************************
    error message style
    **************************/
.error{
    display: none;
}